.card-block {
  border: 1px solid black;
  border-radius: 5px;
  margin: 12px auto;
  width: 80%;
}

button.count-control {
  width: 50px;
}

div.add-count-wrapper {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.add-count {
  margin: 0 auto;
  width: 200px;
}

.display-count {
  border: 1px solid grey;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

div.demo-area {
  padding: 5px;
  background-color: lightblue;
}

.demonstration {
  margin: 5px;
}

