<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Counter</th>
      <th>Children</th>
      <th>Teenageres</th>
      <th>Adults</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let count of counts$ | async">
        <th scope="row">
          <a [routerLink]="['/list', count.id]">
          {{count.id}}
          </a>
        </th>
        <td>{{count.counter}}</td>
        <td>{{count.children}}</td>
        <td>{{count.teenagers}}</td>
        <td>{{count.adults}}</td>
    </tr>
  </tbody>
</table>
